<nav aria-label="breadcrumb">
</nav>
<div class="container">
  <div class="card list-anime">
    <h5 class="containerTitle">Lista de séries</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulo</th>
              <th scope="col">Autor</th>
              <th scope="col">URL</th>
              <th scope="col">Duração</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let anime of animes">
              <td>{{anime.title}}</td>
              <td>{{anime.author}}</td>
              <a href="{{anime.urlVideo}}"><td>{{anime.urlVideo}}</td></a>
              <td>{{anime.duration}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editAnimes(anime)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteAnimes(anime)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-anime">
      <h5 class="containerTitle">Adicionar/Atualizar série</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveAnimes(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label class="containerTitle" for="title">Título</label>
                <input type="text" [(ngModel)]="anime.title" id="title" name="title" #title="ngModel" required class="form-control" placeholder="Digite o titleo">
                <div  class="invalid-feedback">
                    <div *ngIf="title.errors.required">Título é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label class="containerTitle" for="author">Autor</label>
                <input type="text" [(ngModel)]="anime.author" id="author" name="author" #author="ngModel" required class="form-control" placeholder="Digite o autor">
                <div >
                    <div *ngIf="author.errors.required">Autor é obrigatória</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-add-anime" (click)="saveAnimes(f)">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-anime" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>
